<h1>
Search
</h1>
<div>
  
  <ul>
    <% @booklist.each do |book| %>
      <li> <%= image_tag book.imagelink %> <%= book.title %>
      <%= link_to book.title, :action => "show", :doubanid => book.doubanid  %> </li>
    <% end %>
  </ul>
</div>
